<%- layout('layouts/main.ejs')%>

  



    <div class="col-md-12">
        <div class='test' hidden data-test-value='<%= JSON.stringify(docs) %>'></div>
      <table class="table table-bordered bg-light table-hover" id ="test">
        <thead>
          <tr class="headings">
            <td>TestName</td>
            <td>TestId</td>
            <td>Test Description</td>
            <td>Run test</td>
            <td>Delete</td>
            <td>Edit</td>
          </tr>
        </thead>
        <tbody id="myEvents" >
          <% docs.forEach(function (elements) { %>
            <tr> 
              <td><%= elements.testName %></td>
              <td><%= elements.testId %></td>
              <td><%= elements.testDesc %></td>
              <td>
                    <% if(elements.isScriptReady == true){ %>
                    <a onclick="runTest('<%= elements.testName %>' )" class="btn btn-xs btn-info pull-right">Run Test</a>
                    <% } else{ %>
                     <a class="btn btn-xs btn-info pull-right" >Script Not Ready</a>
                     <% } %>

              </td>
              <td>
                  <a href="testingDashboard/delete/<%= elements._id %>" ><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
              </td>
              <td>
                  <a  href="/view/<%= elements.testId %>" ><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
     
      
    </div>
  

  <style>
    .product-highlight {
      background: red;
    }
    tbody tr:hover {
      cursor: move; 
    }
  </style>

  <% block('scripts').append(`<script>
    var test = document.getElementsByClassName('test');
    var x = JSON.parse(test[0].dataset.testValue)[0];
    
   


    function runTest(testName) {
        alert('run the script in backend');
        $.ajax({
        type: 'GET',
        url: 'run/' + testName,
        success: function(result) {
            console.log(result);
            alert('status: ' + result.status + 'Success: ' +result.success);
        }
      });
    }

  function editClick(id,row) {

    
    const url = 'view/';
    console.log(x);
    
    $.ajax({
        type: 'GET',
        url: 'view/',
        success: function(result) {
            console.log('done');
        }
      });


  }
</script>`)%>